.navbar-dark .navbar-nav .nav-link a {
    color: rgba(255, 255, 255, .5);
}

.navbar-dark .navbar-nav .nav-link a:focus {
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.navbar-brand {
    font-family: cursive;
}

.text-white {
    color: white;
}

.text-green {
    color: #28a745 !important
}

.margin-tb-1 {
    margin: 1em auto;
}

.margin-t-1 {
    margin-top: 1em;
}

.bold {
    font-weight: bold;
}

.float-right {
    float: right !important;
    margin-top: 3px;
}

.column-div {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.column-div::-webkit-scrollbar {
    display: none;
}

.column {
    display: inline-table;
    background: white;
    margin: 1em;
    padding: 15px 1em 10px;
    border-radius: 5px;
    width: 345px;
    background-color: #ebecf0;
}

.dragged .task {
    opacity: 0.25;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #ffffff;
}

.task {
    background: white;
    padding: 6px 11px;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(9, 30, 66, 0.15);
    min-height: 40px;
    white-space: normal;
}

.taskInput {
    border: 1px solid gainsboro;
    border-radius: 4px;
    font-size: 16px;
    padding: 1px 5px;
    width: 247px;
    height: 125px;
    outline: none;
    word-break: break-all;
    display: inline-flex;
}

.taskView {
    border: none;
    font-size: 16px;
    padding: 1px 5px;
    width: 247px;
    /* height: 23px; */
    outline: none;
    word-break: break-all;
    display: inline-flex;
}

.text-gray {
    color: gray
}